/HideAndSeek/Content/StarterContent
/HideAndSeek/Binaries
/HideAndSeek/Saved
/HideAndSeek/Intermediate
/HideAndSeek/DerivedDataCache
/HideAndSeek/Build
/HideAndSeek/.vs
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace