/HideAndSeek/Binaries
/HideAndSeek/DerivedDataCache
/HideAndSeek/Intermediate
/HideAndSeek/Saved
/HideAndSeek/Content/StarterContent
/HideAndSeek/.vscode
/HideAndSeek/.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace